<div class="col-md-3 user-prof">
  <h3><%= @user.username %>'s profile
    <br>
  <small>
    <% if current_user == @user %>
      <%= link_to "Edit Profile.", edit_user_path(@user) %> |
      <%= link_to "Upload a new image.", new_user_photo_path(@user) %>
    <% end %>
  </small>
  </h3>

  <%= image_tag @user.avatar.url(:thumb) %>
  <hr>
  <div class="row col-md-12 user-deets">
    "<%= @user.bio %>"
  </div>

  <div class="row col-md-12 user-deets">
    Camera: <%= @user.camera_type %>
  </div>

  <div class="row col-md-12 user-deets">
    Favorite sea creature: <%= @user.sea_creature %>
  </div>




</div>

  <% @photos.each do |photo| %>
  <div class="col-xs-3 medium-div" style="background: url('<%= photo.image.url(:medium)%>') no-repeat; background-size: cover;">
    <div class="col-xs-12 medium-info">
      &nbsp;<%= link_to "X", user_photo_path(@user, photo), :data => {:method => "delete"} %> | <%= Time.at(photo.image.updated_at).to_date %>
    </div>
  </div>
  <% end %>
